beautifulsoup4
fastparquet
imblearn
iprogress
ipykernel
joblib
matplotlib
nbformat
networkx
nltk
numpy
ollama
pandas
pyarrow
rapidfuzz
requests
scipy
seaborn
selenium
sentence_transformers
shap
scikit-learn
scikit-network
statsmodels
torch
tqdm
transformers
undetected_chromedriver
wordcloud
xgboost
